.*
*.dat
!.github
!.gitignore
__pycache__/
debug.log
*.spec
*.xlsx

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/requirements

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
retool_clone_list_metadata_helper.egg-info/

npm-debug.log*
yarn-debug.log*
yarn-error.log*